@using MrJB.KafkaModels.Models.Customer
@using MrJB.RepositoryPattern.Data.Extensions
@model  IEnumerable<MrJB.KafkaModels.Models.Customer.Customer>
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<div class="p-2">
    <a href="/Customers/Add" class="btn btn-primary float-right">Add</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Age</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GetCustomerId()
                </td>
                <td>
                    @Html.DisplayFor(customer => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(customer => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(customer => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(customer => item.Birthdate)
                </td>
                <td>
                    @item.Age.ToString()
                </td>
                <td>
                    <a href="/Customers/Edit/@item.GetCustomerId()" type="button" class="btn btn-primary">Edit</a>
                    <a href="/Customers/Delete/@item.GetCustomerId()" type="button" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
